= link_to 'Back', pins_path
.row
  .col-md-offset-2.col-md-8
    .panel.panel-default
      .panel-heading.center
        = image_tag @pin.image.url :medium
      .panel-body
        %p= @pin.description
        %p
          %strong= @pin.user.email if @pin.user
        - if @pin.user == current_user
          = link_to edit_pin_path(@pin) do
            %span.glyphicon.glyphicon-edit
            Edit
